extends layout

block content
  h1= title
  p Hello, this is an updated paragraph text in the index page, Thank you. 
  p Welcome to northwest missouri state university. My name is #{title}.
  button(type="button" class="btn btn-primary") Press Me